@MarceloGames000:registry=https://npm.pkg.github.com
@MarceloGames000:registry=https://registry.npmjs.org
@marcelogames0:registry=https://npm.pkg.github.com
@marcelogames0:registry=https://registry.npmjs.org